{{!
    @template report_querybuilder/explain_loading

    Loading state for the explain plan panel.

    Context variables:
    * message - Loading message string
}}
<em>{{message}}</em>

{{!
Example context:
{
    "message": "Analyzing query..."
}
}}
