{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_querybuilder/explain_table

    Explain plan results table.

    Context variables:
    * col_node - Column header for node type
    * col_relation - Column header for relation
    * col_index - Column header for index
    * col_rows - Column header for rows
    * col_cost - Column header for cost
    * col_filter - Column header for filter
    * steps - Array of step objects

    Example context (json):
    {
        "col_node": "Node",
        "col_relation": "Relation",
        "col_index": "Index",
        "col_rows": "Rows",
        "col_cost": "Cost",
        "col_filter": "Filter",
        "steps": [
            {
                "row_class": "table-danger",
                "node_cell": "<span class=\"badge bg-danger me-1\">SEQ SCAN</span>",
                "relation": "mdl_user",
                "index_cell": "<span class=\"badge bg-danger\">(none)</span>",
                "rows_formatted": "12,345",
                "cost_total": "10.23",
                "filter": "id > 0"
            },
            {
                "row_class": "",
                "node_cell": "<span class=\"badge bg-success me-1\">INDEX</span> Scan",
                "relation": "mdl_user_enrolments",
                "index_cell": "<span class=\"badge bg-success\">idx_userid</span>",
                "rows_formatted": "1,234",
                "cost_total": "2.11",
                "filter": ""
            }
        ]
    }
}}
<table class="table table-sm table-bordered generaltable">
    <thead class="table-dark">
        <tr>
            <th>{{col_node}}</th>
            <th>{{col_relation}}</th>
            <th>{{col_index}}</th>
            <th>{{col_rows}}</th>
            <th>{{col_cost}}</th>
            <th>{{col_filter}}</th>
        </tr>
    </thead>
    <tbody>
        {{#steps}}
        <tr class="{{row_class}}">
            <td>{{{node_cell}}}</td>
            <td>{{relation}}</td>
            <td>{{{index_cell}}}</td>
            <td>{{rows_formatted}}</td>
            <td>{{cost_total}}</td>
            <td>{{filter}}</td>
        </tr>
        {{/steps}}
    </tbody>
</table>
