{{!
    @template report_querybuilder/explain_table

    Explain plan results table.

    Context variables:
    * col_node - Column header string
    * col_relation - Column header string
    * col_index - Column header string
    * col_rows - Column header string
    * col_cost - Column header string
    * col_filter - Column header string
    * steps - Array of step objects
}}
<table class="table table-sm table-bordered generaltable">
    <thead class="table-dark">
        <tr>
            <th>{{col_node}}</th>
            <th>{{col_relation}}</th>
            <th>{{col_index}}</th>
            <th>{{col_rows}}</th>
            <th>{{col_cost}}</th>
            <th>{{col_filter}}</th>
        </tr>
    </thead>
    <tbody>
        {{#steps}}
        <tr class="{{row_class}}">
            <td>{{{node_cell}}}</td>
            <td>{{relation}}</td>
            <td>{{{index_cell}}}</td>
            <td>{{rows_formatted}}</td>
            <td>{{cost_total}}</td>
            <td>{{filter}}</td>
        </tr>
        {{/steps}}
    </tbody>
</table>
{{!
Example context:
{
    "col_node": "Node",
    "col_relation": "Relation",
    "col_index": "Index",
    "col_rows": "Rows",
    "col_cost": "Cost",
    "col_filter": "Filter",
    "steps": [
        {
            "row_class": "depth-0",
            "node_cell": "<strong>Seq Scan</strong>",
            "relation": "users",
            "index_cell": "",
            "rows_formatted": "12,345",
            "cost_total": "10.23",
            "filter": "id > 0"
        },
        {
            "row_class": "depth-1",
            "node_cell": "<strong>Index Scan</strong>",
            "relation": "user_enrolments",
            "index_cell": "idx_userid ON (userid)",
            "rows_formatted": "1,234",
            "cost_total": "2.11",
            "filter": ""
        }
    ]
}
}}
